html,
body {
  font-family: helvetica;
  color: black;
  font-size: 16px;

}

.button {
  background-color: #4a4a4a;
  color: white;
  text-align: center;
  padding: 8px;
}

.center {
  text-align: center;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
  max-width: 100%;
}

.main-content {
  position: relative;
  top: 64px; /* To offset for fixed header. */
}

.bold {
  font-weight: bold;
}

.light {
  color: Silver;
}

h1 {
  font-size: 2.2em;
  padding-bottom: 0.75em;
}

h2 {
  font-size: 1.5em;
  padding-bottom: 0.75em;
}



/* header */

header {
  position: fixed;
  z-index: 100%;
  width: 100%;
  background-color: white;
}

header .content {
  display: flex;
  align-items: center;
  height: 64px;
}


.logo {
  flex: 1;
  display: flex;
  margin-left: 24px;
  align-items: center;
}

header nav ul {
  display: flex;
  margin-right: 24px;
}

nav li {
  padding-left: 16px;
}

nav a {
  vertical-align: bottom;
}

/* Start-Banner */

.banner {
  width: 100%
  height: 1200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: Silver;
}

.study {
  margin: 32px 24px;
  width: 60%;
}

.header h3 {
  padding-bottom: .75em;
}

#learn {
  width: 25%;
}
