html,
body {
  font-family: helvetica;
  color: black;
  font-size: 16px;
}

.button {
  background-color: #4a4a4a;
  color: white;
  text-align: center;
  padding: 8px;
}

.center {
  text-align: center;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
  max-width: 100%;
}

.main-content {
  position: relative;
  top: 64px; /* To offset for fixed header. */
}

.bold {
  font-weight: bold;
}

.light {
  color: Silver;
}

h1 {
  font-size: 2.2em;
  padding-bottom: 0.75em;
}

h2 {
  font-size: 1.5em;
  padding-bottom: 0.75em;
}



/* header */

header {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  height: 64px;
}

.logo {
  flex: 1;
  display: flex;
  margin-left: 24px;
  align-items: center;
}

header nav ul {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  margin-right: 24px;
}

nav li {
  padding-left: 16px;
}

nav a {
  vertical-align: bottom;
}

/* Start-Banner */

.banner {
  width: 100%
  height: 1200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: Silver;
}

.study {
  margin: 32px 24px;
  width: 60%;
}

.header h3 {
  padding-bottom: .75em;
}

#learn {
  width: 25%;
}

/* about section*/

.about {
  display: flex;
  width: 100%;
}

.practice {
  display: flex;
  width: 60%;
  flex-direction: column;
  margin: 32px 24px;
}

.info {
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
  width: 40%;
  margin-top: 16px;
  flex-wrap: wrap-reverse;

}

.info {
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
  width: 40%;
}

.info-block {
  display: inline-flex;
  align-items: center;
  width: 100%;
}

.info-block img {
  width: 35%;
  margin: 16px 16px 16px 16px;
}



.info-content {
  margin-right: 16px
}

.info-content p {
  margin-bottom: 1.25rem;
}

.info-content a {
  text-decoration: none;
}
