html,
body {
  font-family: helvetica;
  color: black;
  font-size: 16px;
}

.main-content {
  position: relative;
  top: 64px; /* To offset for fixed header. */
}

.bold {
  font-weight: bold;
}

.light {
  color: Silver;
}

h1 {
  font-size: 3em;
}

/* header */

header {
  position: fixed;
  z-index: 100%;
  width: 100%;
  background-color: white;
  border: black 1px solid;
}

header .content {
  display: flex;
  align-items: center;
  height: 64px;
}


.logo {
  flex: 1;
  display: flex;
  margin-left: 24px;
  align-items: center;
}

header nav ul {
  display: flex;
  margin-right: 24px;
}

nav li {
  padding-left: 16px;
}

nav a {
  vertical-align: bottom;
}

/* Main Banner */

.banner {
  width: 100%
  height: 800px;
  display: flex;

}

.study {
  background-color: black;
  background-image: url('../resources/images/banner.jpg');
  display: flex;
  width: 60%;
  height: auto;
  margin: 32px 24px;

}


.learn {
  width: 30%;
  height: auto;
  margin: 0 auto;
}
